<footer>
  <ul class="center">
    <li>
      <a href="https://www.linkedin.com/in/elizabethsalita" title="LinkedIn" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
        <i class="fa fa-linkedin-square fa-2x"></i></a>
    </li>
    <li>
      <a href="https://github.com/ebdabbs" title="Github" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
        <i class="fa fa-github fa-2x"></i></a>
    </li>
    <li>
      <a href="https://www.instagram.com/tiedyebylizzie/" title="Instagram" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
        <i class="fa fa-instagram fa-2x"></i></a>
    </li>
    <li>
      <a href="https://tiedyecraftsbylizzie.etsy.com" title="Etsy" target="_blank" rel="noopener noreferrer" aria-label="Etsy">
        <i class="fa fa-etsy fa-2x"></i></a>
    </li>
  </ul>
</footer>